@page "/customers"
@using MPT.SamplingMachine.ApiClient;
@using MPT.Vending.API.Dto;
@using Portal.StateContainers;
@attribute [StreamRendering(true)]
@inject NavigationManager navigationManager
@inject SamplingMachineApiClient _client;

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

<p>List of customers</p>

@code {
    //private IEnumerable<KioskDto> kiosks;

    protected override async Task OnInitializedAsync()
    {
       // kiosks = await _client.GetKiosksAsync();
    }
}