@page "/advertisement/{kioskUid}"
@using Filuet.Hardware.Dispensers.Abstractions.Models;
@using MPT.SamplingMachine.ApiClient;
@using MPT.Vending.API.Dto;
@using Portal.StateContainers;
@using System.Text.Json;
@using System.Diagnostics;
@attribute [StreamRendering(true)]
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject SamplingMachineApiClient _client;
@inject KioskStateContainer kioskStateContainer

<PageTitle>Advertisement</PageTitle>

<h1>Advertisement</h1>

<p>
    @if (saving)
    {
@*         <button class="btn btn-primary btn-lg" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Saving...
        </button> *@
    }
    else
    {
       @*  <a href="/kiosk/@uid" type="button" class="btn btn-primary btn-lg">Back to @kiosk.UID</a>*@
    } 
</p>

@if (loading)
{
    <p><em>Loading...</em></p>
}
else {
    @foreach (var r in _resources) {
        <p>@r.Media.Name</p>
    }
}

@code {
    [Parameter]
    public string kioskUid { get; set; }

    private bool loading = true;
    private bool saving = false;
    private IEnumerable<KioskMediaLink> _resources;

    protected override async Task OnInitializedAsync()
    {
        _resources = await _client.GetKioskMediaAsync(kioskUid);
        loading = false;
        StateHasChanged();
    }
}