@page "/product/{sku}"
@using MPT.SamplingMachine.ApiClient;
@using MPT.Vending.API.Dto;
@using System.Text.Json;
@using System.Diagnostics;
@using System.Drawing;
@using System.Web;
@using System.Drawing.Imaging;
@using Portal.StateContainers;
@attribute [StreamRendering(true)]
@inject SamplingMachineApiClient _client
@inject ProductStateContainer productStateContainer

<PageTitle>Product</PageTitle>

<h1>@sku</h1>

@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@product.Names.FirstOrDefault()?.Value</p>
    <img src="data:image/*;base64,@product.Picture" width="300" />
}

@code {
    [Parameter]
    public string sku { get; set; }

    private Product product;

    protected override async Task OnInitializedAsync()
    {
        product = productStateContainer.Value;
    }
}