@page "/session/{uid}";
@using MPT.SamplingMachine.ApiClient;
@using MPT.Vending.API.Dto;
@using Microsoft.AspNetCore.SignalR.Client;
@using Portal.StateContainers;
@using System.Text.Json;
@attribute [StreamRendering(true)]
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject SessionStateContainer sessionStateContainer
@inject SamplingMachineApiClient _client
@inject NavigationManager _uriHelper
@inject ProductStateContainer productStateContainer

<PageTitle>Session</PageTitle>

<h1>@session.PhoneNumber</h1>

<p>@session.Date.ToString("HH:mm:ss dd/MMM/yyyy")</p>

<p><a href="/sessions" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Sessions</a></p>


@if (!loading)
{
    <SessionItemList Session="session" />

    if (loadingHistory)
    {
        <button class="btn btn-success" type="button">
            <span class="spinner-grow text-white spinner-grow-sm" role="status"></span>
            Loading related sessions...
        </button>
    }
    else
    {
        if (history == null)
        {
            <button class="btn btn-success" type="button" onclick="@LoadHistory">
                Load related sessions
            </button>
        }
        else
        {
            if (!history.Any(x => x.Date != session.Date))
            {
                <p>There are no more sessions to show</p>
            }
            else
            {
                <p>Other orders</p>

                <div class="accordion" id="accordionHistory">
                    @{
                        int i = 0;

                        foreach (var entry in history)
                        {
                            if (entry.Date == session.Date)
                                continue;

                            i++;

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_@i">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@i" aria-controls="collapse_@i">
                                        <span class="badge bg-warning text-dark">Credit used: @entry.Items.Sum(x => x.Count * x.UnitCredit)</span>&nbsp;@entry.Date.ToString("HH:mm:ss dd/MMM/yyyy")
                                    </button>
                                </h2>
                                <div id="collapse_@i" class="accordion-collapse collapse" aria-labelledby="heading_@i" data-bs-parent="#accordionHistory">
                                    <div class="accordion-body">
                                        <SessionItemList Session="entry" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }
    }
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public string uid { get; set; }

    private Session session;
    private bool loading = true;
    private bool loadingHistory = false;
    private List<Session> history;
    private List<Product> products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        session = sessionStateContainer.Value;

        loading = session.Items.Any(x => x.Product.Names == null || x.Product.Picture == null);
        if (loading)
        {
            List<Task> tasks = new List<Task>();

            foreach (var i in session.Items)
                tasks.Add(_client.GetProductAsync(i.Product.Sku)
                .ContinueWith(x =>
                {
                    i.Product = x.Result;
                    if (!products.Any(p => p.Sku == i.Product.Sku))
                        products.Add(x.Result);
                })
                );

            await Task.WhenAll(tasks.ToArray());

            loading = false;
        }
    }

    private void EditProduct(Product product)
    {
        productStateContainer.SetValue(product);
        navigationManager.NavigateTo($"/product/{product.Sku}");
    }

    private async Task LoadHistory()
    {
        loadingHistory = true;
        history = new List<Session>();

        IAsyncEnumerator<Session> e = _client.GetSessionsAsync(new SessionsRequest {
            MobileNumber = session.PhoneNumber,
            From = new DateTime(2023, 9, 1), 
            To = DateTime.Now.AddDays(1)
        });

        try {
            while (await e.MoveNextAsync()) {
                history.Add(e.Current);

                try {
                    await JSRuntime.InvokeVoidAsync("console.info", $"Session received: {e.Current.PhoneNumber}");
                }
                catch { }

                StateHasChanged();
            }
        }
        finally {
            if (e != null)
                await e.DisposeAsync();

            StateHasChanged();
        }

        #region get missing product details
        List<string> skuToSync = new List<string>();
        foreach (var s in history)
            foreach (var i in s.Items)
                if (!products.Any(x => x.Sku == i.Product.Sku) && !skuToSync.Contains(i.Product.Sku))
                    skuToSync.Add(i.Product.Sku);

        List<Product> missingProducts = new List<Product>();

        IAsyncEnumerator<Product> en = _client.GetProductsAsync(skuToSync, default(CancellationToken));
        try
        {
            while (await en.MoveNextAsync())
            {
                missingProducts.Add(en.Current);
            }
        }
        finally
        {
            if (e != null)
                await e.DisposeAsync();
        }

        products.AddRange(missingProducts);

        foreach (var s in history)
            foreach (var i in s.Items)
                if (i.Product.Names == null || i.Product.Picture == null)
                    i.Product = products.FirstOrDefault(x => x.Sku == i.Product.Sku);
        #endregion

        loadingHistory = false;
    }
}