@page "/signin/{redirectUrl?}"
@using Filuet.Infrastructure.Abstractions.Helpers;
@using MPT.SamplingMachine.ApiClient;
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;
@using Portal.StateContainers;
@using System.Web;
@inject IJSRuntime JSRuntime
@inject AppState State
@inject NavigationManager navigationManager

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        <div id="toastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto"><i class="bi bi-exclamation-triangle-fill text-warning"></i> OgmentO</strong>
                <small>just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Unable to authorize. Please try again
            </div>
        </div>
    </div>
</div>

<div class="jumbotron vertical-center">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="text-center">
            <div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Email" placeholder="Email" aria-describedby="basic-addon1" @oninput="x => { Email = x.Value?.ToString(); LoginButtonEnabled = IsLoginButtonEnabled(); }" />
                </div>

                <div class="input-group mb-3">
                    <input type="password" class="form-control pwd" id="password" name="password" placeholder="Password" @oninput="x => { Password = x.Value?.ToString(); LoginButtonEnabled = IsLoginButtonEnabled(); }">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-eye-slash reveal" id="togglePassword"></i></span>
                </div>

                <button type="button" class="btn btn-primary" @onclick="OnLogin" disabled="@(!LoginButtonEnabled)">
                    @if (Loading) {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    Login
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    window.showLoginAlert = () => {
        var myAlert = document.getElementById('toastError');
        var bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        bsAlert.show();
    };

    $(".reveal").on('click', function () {
        var $pwd = $(".pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
</script>

@code {
    private string Email;
    private string Password;
    private bool LoginButtonEnabled = false;
    private string Error;
    private bool Loading;

    [Parameter]
    public string redirectUrl { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender && await State.FetchUserAsync()) {
            if (string.IsNullOrWhiteSpace(redirectUrl))
                navigationManager.NavigateTo("/");
            else navigationManager.NavigateTo(HttpUtility.HtmlDecode(redirectUrl));
        }

        LoginButtonEnabled = IsLoginButtonEnabled();
    }

    private bool IsLoginButtonEnabled()
        => Email.IsEmail() && !string.IsNullOrWhiteSpace(Password);

    private async Task OnLogin(MouseEventArgs e) {
        try {
            Loading = true;
            await State.LoginAsync(Email, Password);

            if (string.IsNullOrWhiteSpace(redirectUrl))
                navigationManager.NavigateTo("/");
            else navigationManager.NavigateTo(HttpUtility.HtmlDecode(redirectUrl));
        }
        catch (Exception ex) {
            Error = ex.Message;
            Password = string.Empty;
            await JSRuntime.InvokeVoidAsync("showLoginAlert");
        }
        finally { Loading = false; }
    }
}