@page
@model API.Pages.IndexModel
@{

}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <img src="/assets/logo.png" style="position: relative; height: 50px; width: 50px; left: calc(50% - 25px); top: calc(50% - 25px)" />
    <p style="position: relative; font: 1.2rem 'Fira Sans', sans-serif; left: calc(50% - 3.8rem); top: calc(50% - 2rem); max-width: 200px;">OgmentO API</p>
</body>
</html>